body{
    background-color: lightblue;
}

header h1 {
    color: blue;
}



.navbar {
    background-color: green;
    height: 50px;
    position: sticky;
    top: 0;
    border-radius: 20px;
}

ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    display: flex;
    margin-left: 5%;
    margin-right: 10%;
}

@media only screen and (max-width: 600px) {
    .search-nav{
        display: none;
    }
    .navbar {
        height: 30px;
        background-color: lightblue;
    }
    ul{
        flex-direction: column;
    }
    li a:not(.brand){
        /* display: none; */
        color: black;
    }


    .list-item {
        font-size: xx-small;
        padding: 0;
    }

} 

@media only screen and (max-width: 992px) {
    .search-nav{
        display: none;
    }
    li a{
        font-size: 15px;
    }
} 


li {
    padding: 10px;
    font-size:20px;

}

li a {
    text-decoration: none;
    color: white;
}

li a:not(.brand){
    padding: 20px;
}

.search-nav {
    margin-left: auto;
}

.search-nav input{
    width: 150%;
    height: 30px;
    border: 1px solid green;
}

.grid-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 250px 250px 250px;
    justify-content: space-evenly;
    align-content: space-evenly;
    gap: 50px;
}

.grid-item {
    border: 1px solid black;
}

.grid-item.item1{
    grid-column: 1 / 3;
}

.grid-item.item7 {
    grid-column-start: 3;
    grid-row: 2 / 4;
}


footer {
    position: relative;
    margin-top: 20px;
    bottom: 0px;
    text-align: center;
    width: 100%;
}

.list-item:hover{
    color: white;
    background-color: black;
}

li input{
    background-color: whitesmoke;
    border-radius: 8px;
}

.grid-item.item1 {
    display: flex;
    justify-content:space-evenly;
}

.flex-item {
    
}

img{
    width: 100%;
    height: 90%;
}